
html
  head
    title Coffee
    link(rel='stylesheet',href='s.css')
    link(
      href='http://fonts.googleapis.com/css?family=Lato:300,400',
      rel='stylesheet',
      type='text/css'
      )
    script(type='text/coffeescript', src='h.coffee')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='http://jashkenas.github.com/coffee-script/extras/coffee-script.js')
    meta(charset='utf-8')
  body
    #nav
      .home CoffeeScript
      .slide Slides
      .video Videos
      .guide Guides
      .blogs Blogs
      .projects Projects
      .editor Editor
      .talk Talks
      .comment Comments
    #article
      .home
        :markdown

          Home
          http://coffeescript.org

          The CoffeeScript Wiki
          https://github.com/jashkenas/coffee-script/wiki 

          CoffeeScript In The Wild
          https://github.com/jashkenas/coffee-script/wiki/In-The-Wild 

          NodeTuts in Coffeescript 
          http://jaigouk.com/nodetuts-coffeescript/ 

          text/coffeescript 
          http://jashkenas.github.com/coffee-script/extras/coffee-script.js 

          CoffeeScirpt 中文手册
          http://island205.github.com/tlboc/ 

          CoffeeScript 小书（CoffeeScript 中文手册豆瓣阅读版）
          http://read.douban.com/ebook/198648/ 

          深入浅出 CoffeeScript: 试读
          http://island205.github.com/cs/ 

          slide 展示
          http://bodil.github.com/coffeescript/#landing-slide 

          Hacker News
          http://news.ycombinator.com/item?id=1014080

          CoffeeScript as a JS/Next / ES.next 
          http://lanyrd.com/2011/jsconf/sfgdf/

          List of languages that compile to JS
          https://github.com/jashkenas/coffee-script/wiki/List-of-languages-that-compile-to-JS

      .slide
        :markdown

          This presentation is an HTML5 website 
          http://bodil.github.com/coffeescript/#landing-slide 

          Accelerating Titanium Development with CoffeeScript, Compass, and Sass 
          http://speakerdeck.com/u/pengwynn/p/accelerating-titanium-development-with-coffeescript-compass-and-sass 

          CoffeeScript – Hijacking JavaScript
          http://naehrstoff.github.com/coffee-script-talk-2012/#slide-title

          Functional programming in JavaScript ecosystem
          https://speakerdeck.com/u/paulmillr/p/functional-programming-in-javascript-ecosystem

      .video
        :markdown

          另一个帖子里面放了几段, 后面来的继续粘贴 
          http://www.douban.com/group/topic/21051292/ 

          coffeescriptbasics [25:22] 
          http://www.tudou.com/programs/view/NMpAexQbi7Y/

          Introduction to CoffeeScript Screencasts org on ... [18:30] 
          http://www.tudou.com/programs/view/fOm-kg9g_o0/

          Meet CoffeeScript 
          by Geoffrey Grosenbach 
          http://vimeo.com/26583597

          CoffeeScript: JavaScript 2.0 , by ChicagoRuby 
          http://vimeo.com/24831083
          http://beta.tudou.com/programs/view/IjZVO1r0P9s/

          Vimeo 搜索结果
          http://vimeo.com/search/videos/search:coffeescript/st/63e61cdf

          Let's have a cup of CoffeeScript - 1 
          http://vimeo.com/25408232

          GoRuCo 2011 - Jeremy Ashkenas - CoffeeScript for the Well-Rounded Rubyist 
          http://vimeo.com/27200146

          Introduction to Coffeescript and Node.js, by Pedro Teixeira 
          http://nodetuts.com/tutorials/16-introduction-to-coffeescript-and-nodejs.html#video 

          Coffeescript creator talks at TimesOpen (估计手机拍摄，音质不行)
          http://www.youtube.com/watch?v=pqr7_cM8LhE 

          Get Started with CoffeeScript (在「Mac OS」安装以及使用「coffee-script」)
          http://www.youtube.com/watch?v=F8EDCdDwyEE 

          CoffeeScript: JavaScript without the Fail 
          http://vimeo.com/28772382 

          Interview with Trevor Burnham on CoffeeScript (采访录音, 没有视频)
          http://pragprog.com/podcasts/show/38

          A Case For Using CoffeeScript 
          http://www.codethinked.com/a-case-for-using-coffeescript

          CoffeeScript for Rubyists [18:52]
          http://www.youtube.com/watch?v=EOpG-yqMfHE
          http://www.tudou.com/programs/view/StjdUh_exHQ/

          A Shot of Coffee Script [31:28]
          http://www.youtube.com/watch?v=fdNJiYQ1esc
          http://www.tudou.com/programs/view/gkDzTCECo_c/

          CoffeeScript on Windows [02:49]
          http://www.youtube.com/watch?v=NyLtjLJWkhg&feature=fvst
          http://www.tudou.com/programs/view/UtqGhCN_rC0/


          Better JS with CoffeeScript - Sam Stephenson (37signals) 
          http://vimeo.com/35258313   
          http://www.tudou.com/programs/view/pg-PTg9Hcfc/

          CoffeeScript x Node.js - RSJS [40:18] 
          http://www.tudou.com/programs/view/Tl868_naMHk/

          Rewriting Some JavaScript to CoffeeScript 
          http://ryanflorence.com/2012/javascript-coffeescript-rewrite/

          视频: CoffeeScript入门实践 
          http://www.w3ctech.com/p/1065


          InfoQ: CoffeeScript: JavaScript Evolved 
          http://www.infoq.com/presentations/CoffeeScript-JavaScript-Evolved

          InfoQ: CoffeeScript: Good, Bold, and with Sugar 
          http://www.infoq.com/presentations/CoffeeScript-Good-Bold-and-with-Sugar

      .guide
        :markdown

          CoffeeScript in the browser
          http://autotelicum.github.com/Smooth-CoffeeScript/

          The Little Book on CoffeeScript 
          http://arcturo.github.com/library/coffeescript/index.html

          你的第一杯 CoffeeScript，第1部分：入门(译言译的) 
          http://select.yeeyan.org/view/213582/239637

          CoffeeScript Cookbook 部分翻译 
          http://www.ituring.com.cn/users/83930 

          [Howto] Hacking on the CoffeeScript CompilerNew Page Edit Page Page History 
          https://github.com/jashkenas/coffee-script/wiki/%5BHowto%5D-Hacking-on-the-CoffeeScript-Compiler

          wtfcs 
          https://github.com/satyr/coco/wiki/wtfcs

          The Problem with Implicit Scoping in CoffeeScript 
          http://lucumr.pocoo.org/2011/12/22/implicit-scoping-in-coffeescript/

          CoffeeScript 详解
          http://ruby-china.org/topics/4789

      .blogs
        :markdown
          Making Macros in CoffeeScript 
          http://blog.davidpadbury.com/2010/12/09/making-macros-in-coffeescript/

          Writing Better JavaScript with CoffeeScript: The Basics 
          http://sixrevisions.com/javascript/coffeescript-basics/ 

          How to Write CoffeeScript Efficiently 
          http://esa-matti.suuronen.org/blog/2011/11/28/how-to-write-coffeescript-efficiently/

          A Case Against Using CoffeeScript , By Ryan Florence
          http://ryanflorence.com/2011/2012/case-against-coffe

          defer: Taming asynchronous javascript with CoffeeScript 
          http://gfxmonk.net/2010/07/04/defer-taming-asynchronous-javascript-with-coffeescript.html
          https://github.com/jashkenas/coffee-script/pull/1942

          CoffeeScript, Whitespace, and Coffee 
          http://almaer.com/blog/coffeescript-whitespace-and-coffee

          CoffeeScript is not a language worth learning 
          https://github.com/raganwald/homoiconic/blob/master/2011/12/jargon.md#readme

          Episode 0.7.1 - Spine, and client-side MVC with Alex MacCaw
          http://thechangelog.com/post/14517970749/episode-0-7-1-spine-and-client-side-mvc-with-alex-maccaw

          The Problem with Implicit Scoping in CoffeeScript 
          http://lucumr.pocoo.org/2011/12/22/implicit-scoping-in-coffeescript/

          A Python programmer’s first impression of CoffeeScript 
          http://blog.ssokolow.com/archives/2011/05/07/a-python-programmers-first-impression-of-coffeescript/

          CoffeeScript classes: under the hood 
          http://jimmycuadra.com/posts/coffeescript-classes-under-the-hood

          Comparing JavaScript, CoffeeScript & ClojureScript 
          http://dosync.posterous.com/comparing-javascript-coffeescript-clojurescri

          The increasing pervasiveness of JavaScript – a few historic milestones 
          http://www.2ality.com/2012/01/javascript-pervasiveness.html

          CoffeeScript: two sugars, no bitter aftertaste 
          http://www.ccs.neu.edu/home/dorai/t-y-scheme/t-y-scheme-Z-H-4.html#node_sec_2.1.4

          Reusable Abstractions in CoffeeScript (and JavaScript!) 
          https://github.com/raganwald/homoiconic/blob/master/2012/01/reuseable-abstractions.md#readme

          CoffeeScript Under Pressure 
          http://mattdw.github.com/2012/rapid-coffee-postmortem.html

          CoffeeScript is Afrikaans Javascript 
          http://logicalfriday.com/2012/02/07/coffeescript-is-afrikaans-javascript/

          Regular Expressions in CoffeeScript are Awesome 
          http://www.elijahmanor.com/2012/02/regular-expressions-in-coffeescript-are.html

          Separating Concerns in CoffeeScript using Aspect-Oriented Programming 
          https://github.com/raganwald/homoiconic/blob/master/2011/11/YouAreDaChef.md#readme

          CoffeeScript Under Pressure 
          http://mattdw.github.com/2012/rapid-coffee-postmortem.html

          Testing CoffeeScript for Rails with Jasmine 
          http://derekhammer.com/2012/02/18/testing-coffeescript-for-rails-with-jasmine.html

          NodeJS, CoffeeScript, & Cross-Domain DataServices 
          Posted by thomasb 
          http://www.gridlinked.info/nodejs-coffeescript-cross-domain-dataservices/

          Writing a node.js module in CoffeeScript 
          http://www.davidarno.org/2012/02/09/writing-a-node.js-module-in-coffeescript/

          CoffeeScript and Progress , Mar 04, 2012 
          http://peterlyons.com/problog/2012/03/coffeescript-and-progress

          Creating an iOS-like Home Screen with CoffeeScript 
          http://tutorialzine.com/2011/10/ios-homescreen-coffeescript/

          Source Maps for CoffeeScript 
          http://www.coffeescriptlove.com/2012/04/source-maps-for-coffeescript.html 

          Source map support plan 
          https://groups.google.com/forum/#!topic/coffeescript/19EIrK5q9f8/discussion

          Better CoffeeScript Testing With Mocha 
          http://net.tutsplus.com/tutorials/javascript-ajax/better-coffeescript-testing-with-mocha/

          Ten Features I Like About CoffeeScript 
          http://openmymind.net/2012/5/16/Ten-Features-I-Like-About-CoffeeScript/

          Variable declaration vs assignment 
          https://github.com/jashkenas/coffee-script/issues/712#issuecomment-426063

          Why Should You Use CoffeeScript -- Shellex 
          http://shellex.info/why-should-you-use-coffeescript

      .projects
        :markdown
          CoffeeScript Wiki: In The WildNew Page
          https://github.com/jashkenas/coffee-script/wiki/In-The-Wild

          CoffeeScript's port of the Scheme's Metacircular Evaluator 
          http://dmitrysoshnikov.com/scheme-on-coffee/ 

          Sideline, a CoffeeScript shell for your server 
          http://labnotes.org/2011/09/01/sideline-a-coffeescript-shell-for-your-server/ 
          https://github.com/assaf/sideline 

          Katy: CoffeeScript Combinators 
          https://github.com/raganwald/Katy

          nanoScroller.js is a jQuery plugin that offers a simplistic way of implementing Lion-styled scrollbars for your website.
          http://jamesflorentino.com/jquery.nanoscroller/

          alac.js: An Apple Lossless decoder in the browser 
          https://github.com/ofmlabs/alac.js

          `docco.coffee` Docco is a quick-and-dirty, hundred-line-long, 
          literate-programming-style documentation generator. 
          http://jashkenas.github.com/docco/

          Cafe au Life is an implementation of John Conway's Game of Life cellular automata written in CoffeeScript. 
          http://raganwald.github.com/cafeaulife/docs/cafeaulife.html

          psd.js: You Guessed It - A Photoshop Document Parser in CoffeeScript 
          http://badassjs.com/post/16822405598/psd-js-you-guessed-it-a-photoshop-document-parser-in

          CoffeeXP: Live CoffeeScript coding experiments 
          http://evangenieur.com/coffeexp/ 
          https://github.com/Evangenieur/CoffeeScript-Demo

          showell / CoffeeScriptLineMatcher 
          provides debugging support for CoffeeScript by matching JS lines to CS lines 
          https://github.com/showell/CoffeeScriptLineMatcher

          Calculize's syntax is designed to make calculating easy. 
          It's based on CoffeeScript, with domain-specific modifications. 
          http://calculize.com/documentation

          COFFEECONSOLE: A CHROME EXTENSION 
          http://snook.ca/archives/browsers/coffeeconsole 
          A Chrome Extension for running CoffeeScript from the Web Inspector 
          https://github.com/snookca/CoffeeConsole

          js2cs : Convert your JavaScript to CoffeeScript 
          http://js2cs.nodejitsu.com/

          Substance:
          A data-driven and cloud-aware document authoring engine 
          http://substance.io/substance/substance-internals 
          https://github.com/substance/substance

          Doppio is a project to get Java running in the browser without any plug-ins. 
          A JVM in Coffeescript. 
          http://int3.github.com/doppio/about.html 
          http://news.ycombinator.com/item?id=3913435

          DocPad is a language agnostic document management system. 
          https://github.com/bevry/docpad

          This site aggregates some content from Rosetta Code, 
          which is a website that 
          presents solutions to programming tasks in many different languages. 
          http://shpaml.webfactional.com/misc/RosettaCoffee/code.htm

          Recursive Drawing is an exploration of user interface ideas towards the 
          development of a spatially-oriented programming environment. 
          http://recursivedrawing.com/ 
          https://github.com/electronicwhisper/recursive-drawing/tree/gh-pages

          A webpage that provides an instant CoffeeScript REPL/console. 
          http://larryng.github.com/coffeescript-repl/ 
          https://github.com/larryng/coffeescript-repl

          heap.coffee is a CoffeeScript dialect that has an optional C-like type system 
          with manual memory management 
          which compiles to use an explicit typed array as its "heap". 
          https://github.com/syg/heap.coffee/

          Stylo is a web app designer written in CoffeeScript and Spine. 
          It allows you to manipulate various HTML elements, add styles and edit text. 
          https://github.com/maccman/stylo

          DoubleShot: A CoffeeScript Dialect with Cross-Platform Concurrency Primitives 
          https://github.com/lukhnos/doubleshot

          LiveScript is a language which compiles down to JavaScript. 
          It is a fork of Coco which is in turn derived from CoffeeScript. 
          http://gkz.github.com/LiveScript/

          Guard::CoffeeScript compiles or validates your CoffeeScripts automatically 
          when files are modified. 
          https://github.com/netzpirat/guard-coffeescript

          CoffeeScript PHP -- A port of the CoffeeScript compiler to PHP. 
          https://github.com/alxlit/coffeescript-php

          hallo: Simple rich text editor (contentEditable) for jQuery UI 
          https://github.com/bergie/hallo

          skeleton: Express 3.0 framework-less app structure generator 
          https://github.com/EtienneLem/skeleton

          A RESTful API for news.ycombinator.com written in Coffeescript for node.js 
          https://github.com/Boxyco/hackernews-api

          Cash (WIP) 
          CoffeeScript shell language. Like Bash, but Cash. 
          https://github.com/aseemk/cash

          DuctTape is an open source CoffeeScript REPL for the web.
          http://neumark.github.com/ducttape/

          A CoffeeScript interactive console (REPL) as a webpage.
          https://github.com/larryng/coffeescript-repl

          Berliner. The lightweight web framework
          http://berliner.jcoglan.com/

      .editor
        :markdown

          全面的可以看 Wiki 上给出的资源, 支持好多编辑器: 
          https://github.com/jashkenas/coffee-script/wiki/Text-editor-plugins 

          新闻: VisualStutio 已经支持 Coffeescript 
          http://www.infoq.com/news/2011/07/Web-Workbench  

          Vim 语法支持见 https://github.com/kchmck/vim-coffee-script  

          先访问 http://www.vim.org/scripts/script.php?script_id=3590 下载 zip 文件, 
          比如 vim-coffee-script-v001.zip , 注意版本可能不同, 
          然后执行(注意文件名)

              unzip -od ~/.vim vim-coffee-script-v001.zip 

          下一次打开 .coffee 文件就又高亮了. 

          Sublime Text 2 我用的免费版本, 测试如下: 
          具体看 https://github.com/jashkenas/coffee-script-tmbundle 
          以此执行以下命令, 新建 

              git clone https://github.com/jashkenas/coffee-script-tmbundle.git 
              cd coffee-script-tmbundle/ 
              zip -r CoffeeScript.sublime-package *

          最后把生成的文件转移到安装目录的"Pristine Packages", 具体可能不同: 

              mv CoffeeScript.sublime-package ../Pristine\ Packages/

          这篇博客提到一些 Vim 使用技巧, 不过我还没配那个

          How to Write CoffeeScript Efficiently 
          http://esa-matti.suuronen.org/blog/2011/11/28/how-to-write-coffeescript-efficiently/

          This project adds CoffeeScript syntax highlighting to the gedit text editor.   
          (and any other gtksourceview compliant text editor)  
          https://github.com/wavded/gedit-coffeescript

          使用 Sublime Text 2 编辑 CoffeeScript, cnodejs 论坛帖子:
          http://club.cnodejs.net/topic/4f2b97b5aa8e490b110bed78

          网上遇到个 ST2 不用手动 zip 的方法, Ubuntu 测试有用
          http://elegantcode.com/2011/08/05/moving-from-e-texteditor-to-sublime-text-2/ 

              $ cd ~/.config/sublime-text-2/Packages 
              $ git clone git://github.com/jashkenas/coffee-script-tmbundle CoffeeScript

          Emacs Major Mode for CoffeeScript 
          https://github.com/defunkt/coffee-mode

      .talk
        :markdown

          Google Groups
          https://groups.google.com/forum/?hl=en#!forum/coffeescript 

          该页面 Github Issues
          https://github.com/coffee-js/coffeescript.cn/issues

          豆瓣小组
          http://www.douban.com/group/coffeescript/

          island205, QQ 群: 241390603
          http://www.douban.com/group/topic/31382843/

          Google Groups 中文 
          https://groups.google.com/forum/?hl=en#!forum/coffeescript-chinese 

          新浪微群 
          http://q.weibo.com/948286

      .comment
        div#disqus_thread
        script
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'coffeescriptcn'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        noscript
          span Please enable JavaScript to view the
          a(href="http://disqus.com/?ref_noscript") comments powered by Disqus
        a(href="http://disqus.com",class="dsq-brlink")
          span comments powered by
          span(class="logo-disqus") Disqus
