* {
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  -mox-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  font-weight: lighter;
  background: #f2f2f2;
  -webkit-transition-duration: 0.4s;
}
a {
  color: #c7c7ff;
  opacity: 0.6;
  text-decoration: none;
  font-family: 'wenquanyi micro hei mono', monospace;
  font-size: 14px;
  display: block;
  width: 0px;
  overflow-x: visible;
  white-space: nowrap;
}
a:hover {
  color: #00f;
}
.title {
  letter-spacing: 1px;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ccc;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 500;
  position: fixed;
  left: 0px;
}
#article {
  width: 100%;
  height: 100%;
}
#article > div {
  width: 100%;
  min-height: 100%;
  padding: 80px 140px 200px 250px;
  overflow-x: hidden;
}
#article > div:hover {
  background: #fff;
}
#article > div:hover .title {
  background: #fff;
  color: #666;
}
pre {
  color: #fff;
  background: #ccc;
  padding: 2px 8px;
}
.home {
  top: 100px;
}
.slide {
  top: 150px;
}
.video {
  top: 200px;
}
.guide {
  top: 250px;
}
.blogs {
  top: 300px;
}
.projects {
  top: 350px;
}
.editor {
  top: 400px;
}
.talk {
  top: 450px;
}
.comment {
  top: 500px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #bf4040;
  border-radius: 2px;
}
