
*
  box-sizing border-box
  -moz-box-sizing border-box

@font-face
  font-family 'Lato'
  font-style normal
  font-weight 400
  src url(../fonts/Lato.woff) format('woff')

@font-face
  font-family 'Josefin-Sans'
  font-style normal
  font-weight 300
  src url(../fonts/Josefin-Sans.woff) format('woff')

@font-face
  font-family 'Josefin-Sans-SemiBold'
  font-style normal
  font-weight 300
  src url(../fonts/Josefin-Sans-SemiBold.woff) format('woff')

body
  margin 0px
  font-family 'Lato', sans-serif
  // font-family 'Josefin-Sans-SemiBold'
  line-height 20px
  background hsl(0,0,98)
  font-size 16px

a
  color hsl(240,100,89)
  opacity 0.6
  text-decoration none
  font-family 'wenquanyi micro hei mono', monospace, 'Micosoft Yahei'
  font-size 14px
  display block
  width 0px
  overflow-x visible
  white-space nowrap

  &:hover
    color blue

.title
  letter-spacing 1px
  padding 6px 12px
  border-radius 4px
  color hsl(0,0,80)
  font-size 24px
  position fixed
  left 0px
  font-family 'Josefin-Sans-SemiBold'

#article
  width 100%
  height 100%
  position absolute
  color black
  top 0px

#bg
  font-size 300px
  line-height 300px
  position fixed
  font-family "Josefin-Sans"

#article > div
  width 100%
  min-height 100%
  padding 80px 140px 200px 250px
  overflow-x hidden
  background hsla(0,0,90,0.9)
  color hsl(0,0,50)

  &:hover
    background hsla(0,0,100,0.9)
    color black

    .title
      background white
      color hsl(0,0,40)

pre
  color white
  background hsl(0,0,80)
  padding 2px 8px

.home .title
  top 80px
.slide .title
  top 120px
.video .title
  top 160px
.guide .title
  top 200px
.discussion .title
  top 240px
.blogs .title
  top 280px
.projects .title
  top 320px
.tools .title
  top 360px
.talk .title
  top 400px
.comment .title
  top 440px

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,50)
  border-radius 2px
