* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  font-weight: lighter;
  background: #fafafa;
}
a {
  color: #c7c7ff;
  opacity: 0.6;
  text-decoration: none;
  font-family: 'wenquanyi micro hei mono', monospace, 'Micosoft Yahei';
  font-size: 14px;
  display: block;
  width: 0px;
  overflow-x: visible;
  white-space: nowrap;
}
a:hover {
  color: #00f;
}
.title {
  letter-spacing: 1px;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ccc;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 500;
  position: fixed;
  left: 0px;
  height: 34px;
}
#article {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #000;
  top: 0px;
}
#bg {
  font-size: 300px;
  line-height: 300px;
  position: fixed;
}
#article > div {
  width: 100%;
  min-height: 100%;
  padding: 80px 140px 200px 250px;
  overflow-x: hidden;
  background: rgba(230,230,230,0.9);
  color: #808080;
}
#article > div:hover {
  background: rgba(255,255,255,0.9);
  color: #000;
}
#article > div:hover .title {
  background: #fff;
  color: #666;
}
pre {
  color: #fff;
  background: #ccc;
  padding: 2px 8px;
}
.home .title {
  top: 80px;
}
.slide .title {
  top: 120px;
}
.video .title {
  top: 160px;
}
.guide .title {
  top: 200px;
}
.blogs .title {
  top: 240px;
}
.projects .title {
  top: 280px;
}
.editor .title {
  top: 320px;
}
.talk .title {
  top: 360px;
}
.comment .title {
  top: 400px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #bf4040;
  border-radius: 2px;
}
